.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(60px, auto) repeat(5, 60px);
    background-color: black;
    padding: 20px;
    margin-top: auto;
    border-radius: 12px;
    gap: 8px;
    width: 345px;
    margin: 0 auto;

    .display {
        grid-column: span 4;
        background-color: #6a6a6a;
        color: white;
        font-size: 2em;
        text-align: right;
        border-radius: 12px;
    }

    .number, .operator, .clear, .delete{
        font-size: 1.5em;
    }

    .equal {
        font-size: 1.5em;
        grid-column: span 2;
    }
}